@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;

  margin-right: 0.3rem; /* ! */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  min-height: 100vh;
  padding: 2rem;
}

/* LINK COLORS */
a {
  color: #4f46e5;
}

a:hover {
  color: #4338ca;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #6366f1;
  }

  a:hover {
    color: #818cf8;
  }
}

/* INPUT COLORS */
input {
  background-color: rgb(var(--background-rgb));
  border: 1px solid rgb(var(--foreground-rgb));
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

@media (prefers-color-scheme: dark) {
  input {
    background-color: rgb(var(--background-rgb));
    border: 1px solid rgb(var(--foreground-rgb));
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
  }
}

/* HEADINGS */
h1 {
  font-size: 2rem;
  font-weight: 700;
}

/* PARAGRAPHS */
p {
  color: #64748b;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
